h1.logo {
  text-transform: uppercase;
  border: 3px solid white;
  display: inline-block;
  color: white;
  padding:0;
  font-size: 2em;
}
.astronaut {
  background: url(../../images/touch/astronaut.png) center center no-repeat;
  width: 40%;
  height: 500px;
  display: block;
  background-size: contain;
  position: absolute;
  right: 10%;
}
html {
  background:url(../../images/stars.jpg) center center;

}

